/* paymentMethod_styles.css */

@charset "UTF-8";

body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.glass-container {
    background: rgba(255, 255, 255, 0.1);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(7.1px);
    border: 1px solid rgba(255, 255, 255, 0.3);
    padding: 20px;
}

.pay {
    text-align: center;
}

.rounded-button {
    background-color: #C1272D;
    color: white;
    padding: 15px 30px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s, border-color 0.3s;
}

/* Button styles on hover */
.rounded-button:hover {
    background-color: white;
    color: #C1272D;
    border: 1px solid #C1272D;
}

.button-container {
    text-align: center;
    
}

.input-icon {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
}

.input-icon .icon {
    margin-right: 10px;
    height: 30px;
    margin-left: 10px;
}